.selectorsContainer {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.selectContainer {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--button-border);
  background-color: var(--button-background);
  color: var(--button-color-font);
}

.resetSelectorsButton {
  border-radius: 10px;
  border: 1px solid var(--button-border);
  background-color: var(--button-background);
  color: var(--button-color-font);
}
